body {
    text-align: center;
}

option {
    text-align: center;
    font-size: large;
}

form {
    margin: 0 auto;
    max-width: 500px;
    font-size: medium;
    padding-top: 100px;
    padding-bottom: 30px;
}

.form-group {
    padding-bottom: 30px;
}